* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	--background: hsl(0, 0%, 85%);
	--foreground: hsl(0, 0%, 0%);

	--header-background: hsl(297, 50%, 35%);
	--header-foreground: hsl(0, 0%, 100%);
	--header-shadow: hsl(0, 0%, 0%);

	--card-background: hsl(0, 0%, 100%);
	--card-foreground: hsl(0, 0%, 0%);
	--card-shadow: hsla(0, 0%, 0%, 10%);

	--inverted-when-dark: 0;
	--inverted-when-light: 1;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: hsl(0, 0%, 10%);
		--foreground: hsl(0, 0%, 100%);

		--header-background: hsl(297, 50%, 30%);
		--header-foreground: hsl(0, 0%, 100%);
		--header-shadow: hsl(0, 0%, 0%);

		--card-background: hsl(0, 0%, 25%);
		--card-foreground: hsl(0, 0%, 100%);
		--card-shadow: hsla(0, 0%, 0%, 10%);

		--inverted-when-dark: 1;
		--inverted-when-light: 0;
	}
	* {
		color-scheme: dark;
	}
}

html {
	background-color: var(--background);
	color: var(--foreground);
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header {
	padding: 0.6rem;
	display: flex;
	flex-direction: row;
	background-color: var(--header-background);
	color: var(--header-foreground);
	box-shadow: 0 0 0.4rem var(--header-shadow);
	position: sticky;
	top: 0;
	z-index: 100;
}

.header__title {
	font-size: 1.5rem;
}

main {
	padding: 0.6rem;
	display: flex;
	gap: 0.6rem;
	flex-direction: column;
}

.card {
	border-radius: 0.1rem;
	background-color: var(--card-background);
	color: var(--card-foreground);
	padding: 0.6rem;
	box-shadow: 0 0.2rem 0.2rem var(--card-shadow);
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

.card__title {
	font-weight: bold;
	font-size: 1.1rem;
}

.card__description {
	font-size: 1rem;
}
