* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	--background: hsl(0, 100%, 90%);
	--foreground: hsl(0, 0%, 0%);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: hsl(0, 35%, 15%);
		--foreground: hsl(0, 0%, 100%);
	}
}

html {
	background-color: var(--background);
	color: var(--foreground);
}

main {
	padding: 1rem;
}
